.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #1e1e1e;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.logo {
    display: flex;
    align-items: center; 
    gap: 12px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
}
.logo img {
    height: 40px; 
    width: auto; 
}

.enlaces {
    display: flex; 

    gap: 30px; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

.enlaces li {
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Space Grotesk', sans-serif;
}

.enlaces li:hover {
    color: #d9de4a;
}