.lista-tarjetas {
    display: flex; 
    gap: 20px;
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: #1e1e1e;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 1.3rem;
}

.tarjeta p {
    color: #b3b3b3;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 20px;
}

.tarjeta button {
    margin-top: auto; 
    background-color: #4a8ade;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.tarjeta button:hover {
    background-color: #3b73bc;
}